/* Variables */
$main-font: 'Cairo', sans-serif;
$accent-color: #b00b69;
$secondary-color: #69b00b;
$black-color: #000000;
$white-color: #ffffff;
$tr-dur: 250ms;
$tr-func: cubic-bezier(0.4, 0, 0.2, 1);
